<div class="all_picture">
  <h1>お気に入り投稿</h1>

  <section class="all_pictures_main">
    <% @favorite_pictures.each do |picture| %>
      <div class="picture-container">
        <table id="picture_<%= picture.id %>">
          <%= render '/pictures/picture', picture: picture %>
        </table>
      </div>
    <% end %>
  </section>
</div>