<h1>検索結果</h1>

<table>
  <section class="all_pictures_main">
    <tbody class="picture">
      <% @results.each do |user| %>
        <tr id="user_<%= user.id %>">
          <%= render 'user', user: user %>
        </tr>
      <% end %>
    </tbody>
  </section>
</table>

<%= link_to 'Users', users_path %>