<h1>myru</h1>
<h3>「myru(マイル)」とは</h3>
<h5>部屋作りに必要な工程を一括管理し、あなたをサポートするアプリです。</h5>

<h3>あなたのアイデアを形にしましょう！</h3>
<p>・欲しいものやアイデアをストックすることができます</p>
<p>・画像から新しいアイデアを探すことができます</p>
<p>・気に入った商品を購入することができます</p>
<p>・アプリやwebサイトを行き来することなく部屋作りが完結します</p>
