<h1>myru</h1>
<h3>「myru(マイル)」とは</h3>
<h4>部屋作りに必要な工程を一括管理し、あなたをサポートするアプリです。</h4>

<h3>あなたのアイデアを形にしましょう！</h3>
<p>・欲しいものやアイデアをストックすることができます</p>
<p>・画像から新しいアイデアを探すことができます</p>
<p>・気に入った商品を購入することができます</p>
<p>・アプリやwebサイトを行き来することなく部屋作りが完結します</p>

<br>

<% unless user_signed_in? %>
<h4>ゲストログインはこちら</h4>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
<% end %>
