<div class="NewRecord" id="NewRecord">
  <div class="NewRecord＿Box"> 
    <h1>New Picture</h1>
    <div class="NewRecord＿Box＿Form">
      <%= render 'form', path: pictures_path, method: :post, picture: @picture %>
    </div>
  </div>
</div>