<div class="all_picture">
  <section class="all_pictures_top">
    <h1>検索結果</h1>

    <%= link_to '投稿一覧へ戻る', pictures_path %>
  </section>

  <section class="all_pictures_main">
    <table>
      <tbody class="picture">
        <% @results.each do |picture| %>
          <tr id="picture_<%= picture.id %>">
            <%= render 'picture', picture: picture %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <%= link_to '投稿一覧へ戻る', pictures_path %>
</div>