<h1>検索結果</h1>

<%= link_to 'Top', pictures_path %>

<table>
  <thead>
    <tr>
      <th>icon</th>
      <th>User</th>
      <th>Image</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |picture| %>
      <tr id="picture_<%= picture.id %>">
        <%= render 'picture', picture: picture %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Top', pictures_path %>