<h1>Show</h1>

<div id="picture_<%= @picture.id %>">
  <%= render 'picture', picture: @picture %>
</div>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'MyPage', user_path(current_user.id) %>
