<h1>検索結果</h1>

<%= link_to 'Top',  products_path %>

<table>
  <thead>
    <tr>
      <th>icon</th>
      <th>User</th>
      <th>Image</th>
      <th>Name</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |product| %>
      <tr id="product_<%= product.id %>">
        <%= render 'product', product: product %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Top',  products_path %>